#first-part {
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
    background-color: #1F2937;
    height: 400px;
}

#first-part > div {
    width: 800px;
}

#links-list{
    display: flex;
    justify-content: space-evenly;
}

#hero-main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bold;
}

#hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

#button-top {
    background-color: #3882F6;
    color: white;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

 /* unvisited link */
 a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: orange;
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }

  #image-placeholder {
    display: flex;
    justify-content: center;
  }

  #second-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
  }

  .square {
    height: 110px;
    width: 110px;
    background-color: white;
    border: 2px solid #3882F6;
    border-radius: 10px;
  }

  #squares-bloc {
    display: flex;
    justify-content: space-evenly;
    width: 630px;
  }

  #information-header-text{
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
  }

  .squares-and-text{
    display: flex;
    flex-direction: column;
    width: 110px;
  }

  .text{
    font-size: 18px;
    color: grey;
  }

  #third-part{
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #quote{
    font-size: 36px;
    font-weight: light italic;
    color: #1F2937;
  }

  #quote-box{
    width: 700px;
    display: flex;
    flex-direction: column;
  }

  #author-box{
    display: flex;
    justify-content: flex-end;
  }
 
  #author{
    font-weight: bold;
  }

  #fourth-part{
    border: solid;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #call-to-action-box{
    border: solid;
    height: 200px;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

